{% extends "base2.html" %}

{% load static %}

{% block content %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<div class="card text-center">
  <div class="card-header">
    <h1 class="text-black">{% trans "Регистрация" %}</h1>
  </div>

  <p>{% blocktrans %}Уже есть аккаунт? Тогда войдите <a href="{{ login_url }}">Войти</a>.{% endblocktrans %}</p>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <br>
    <br>
    <button class="btn btn-primary" type="submit">{% trans "Зарегистрироваться" %} &raquo;</button>
  </form>
</div>

{% endblock %}
{% endblock content %}
